@font-face {
  font-family: "KH Teka";
  font-weight: 400;
  src: local("KH Teka"), url(./fonts/KHTeka-Regular.woff) format("woff");
}

@font-face {
  font-family: "KH Teka";
  font-weight: 200;
  src: local("KH Teka"), url(./fonts/KHTeka-Light.woff) format("woff");
}

@font-face {
  font-family: "KH Teka";
  font-weight: 500;
  src: local("KH Teka"), url(./fonts/KHTeka-Medium.woff) format("woff");
}

@font-face {
  font-family: "KH Teka";
  font-weight: 700;
  src: local("KH Teka"), url(./fonts/KHTekaMono-Regular.woff) format("woff");
}

@font-face {
  font-family: "KH Teka Bold";
  font-weight: 700;
  src: local("KH Teka"), url(./fonts/KHTekaMono-Regular.woff) format("woff");
}
